<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .navbar {
            background-color: #e99518;
        }
        .h5 {
            background-color: #e99518;
        }

        .navbar-brand {
            color: #ffffff;
        }

        .navbar-brand img {
            height: 50px;
           
            margin-left: -170px;
        }

        .navbar .btn {
            color: #ffffff;
        }

        .navbar .btn i {
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="https://media.istockphoto.com/id/1205419959/pt/vetorial/vegetables-on-shopping-cart-trolley-grocery-logo-icon-design-vector.jpg?s=612x612&w=0&k=20&c=Nh-ZLnOy6YMzn7yIH7s6TDOUJJSDsb6PwnZqNw7m6BQ=" alt="Logo" loading="lazy">
                Compre +
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"a id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}"><i class="fa fa-arrow-left"></i> Voltar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
